{% extends "_layouts/base.html.twig" %}

{% block content %}
    {% include "_layouts/widgets/city_select.html.twig" %}

    <section id="main-banner">
        <table class="main-banner-header" cellspacing="0">
            <tr>
                <td class="main-banner-image" >
                    <img src="/image/banner-left-image.png" height="99%"/>
                </td>
                <td class="main-banner-content">
                    <table>
                        <tr>
                            <td colspan="2"><img src="/image/new_logo.png" alt="" valign="middle" class="main-banner-logo" /></td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" class="main-baner-content-img">
                                <img src="/image/review-book.png" alt="" valign="top" />
                            </td>
                            <td class="main-banner-content-item" valign="top">
                                <header>
                                    <a href="/clubs" class="invert-href">
                                        <h1 class="main-baner-h1">
                                            Отзывы клиентов фитнес-клубов
                                        </h1>
                                    </a>
                                </header>
                                <div>
                                    Читай чужие и пиши свои. Оцени свой клуб
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" class="main-baner-content-img">
                                <img src="/image/fotos.png" alt="" valign="top"/>
                            </td>
                            <td class="main-banner-content-item" valign="top">
                                <header>
                                    <a href="/clubs" class="invert-href">
                                        <h1 class="main-baner-h1">
                                            Фотографии фитнес-центров
                                        </h1>
                                    </a>
                                </header>
                                <div>
                                    Изучи любой фитнес-клуб по подробным фотографиям
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" class="main-baner-content-img">
                                <img src="/image/parametrs.png" alt="" valign="top" />
                            </td>
                            <td class="main-banner-content-item main-banner-content-item-last" valign="top">
                                <header>
                                    <a href="/clubs" class="invert-href">
                                        <h1 class="main-baner-h1">
                                            Подбор по параметрам
                                        </h1>
                                    </a>
                                </header>
                                <div>
                                    Используй фильтр для сортировки по интересующим услугам
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="main-banner-image">
                    <img src="/image/banner-right-image.png" alt="" height="99%" />
                </td>
            </tr>
        </table>
        <table class="main-banner-toolbar">
            <tr>
                <td colspan="3">
                    <h1 class="main-baner-h1">
                        {{ lang("header_main") }}
                    </h1>
                </td>
            </tr>
            <tr>
                <td class="main-banner-toolbar-content">
                    <h3 class="main-banner-toolbar-h3">Показать фитнес-клубы:</h3>
                    <ul class="main-baner-tb-service">
                        {% for service in services %}
                            <li>
                                <img src="{{ service.icon }}" alt="" class="main-banner-services-icons" />
                                <a href="{{ service.url }}">
                                <span class="main-baner-tb-service-item">{{ service.other_form }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td align="center" valign="top" class="main-banner-tb-fulllist-wrap" align="center">
                    <a href="/clubs">
                        <div class="button-club main-banner-tb-full-list">
                            <ul>
                                <li>
                                    <div class="icon-small-clublist"></div>
                                </li>
                                <li class="full-list-text">
                                    <span class="button-text">Перейти к полному списку фитнес-клубов</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                    <div class="search-home-page-wrap">
                        {% include "_layouts/widgets/search_form.html.twig" %}
                    </div>
                </td>
                <td class="main-banner-toolbar-content">
                    <h3 class="main-banner-toolbar-h3 ">Популярные клубы города:</h3>
                    <ul class="main-baner-tb-service main-baner-tb-clubs">
                        <table>
                            {% for club in clubs %}
                                <tr>
                                    <td valign="middle">
                                        <a href="{{ club.url }}">
                                        <img src="{{ club.head_picture }}" alt="" />
                                        </a>
                                    </td>
                                    <td valign="middle">
                                        <a href="{{ club.url }}">
                                        {{ club.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>
                </td>
            </tr>
        </table>
    </section>
    <section id="main-content">
        <h2>{{ lang("header_description") }}</h2>
        <p>С каждым годом все актуальнее становится держать себя в хорошей форме. И легче всего это сделать с помощью фитнес центров или тренажерных залов.</p>
        <p>Но предложений огромное количество и выбрать наиболее подходящий клуб не так просто. Ведь необходимо посетить значительное количество сайтов, позвонить для уточнения цены на фитнес, сравнить предложения сетей и местных организаций, изучить акции и скидки.</p>
        <p>С ФитПарком это легко. У нас есть информация по всем фитнес организациям города.</p>
        <p>Сравнивайте, выбирайте и вперед, навстречу прекрасной фигуре.</p>

        <h2>Оценивайте фитнес клубы города</h2>
        <p>На ФитПарке для каждого клуба можно поставить оценку и оставить отзыв.</p>
        <p>Ведь именно мы, клиенты, должны влиять на качество оказываемых услуг.</p>
        <p>Ко всем прочему, комментарии и оценки помогут другим людям определиться с выбором фитнес центра или тренажерного зала.</p>

        <h2>Подбор организации по требуемым параметрам</h2>
        <p>Благодаря нашему фильтру, можно быстрой найти клуб с необходимым набором услуг.</p>
        <p>Для кого-то важно именно наличие бассейна, для кого-то наличие персонального инструктора по фитнесу.</p>
        <p>Просто выбирайте параметры, и ФитПарк найдет подходящие спортивные центры.</p>

        <h2>Актуальные фото фитнес клубов</h2>
        <p>Прежде, чем принять решение о звонке или покупке абонемента, каждый из нас хочет увидеть товар лицом.</p>
        <p>Именно для этого мы собираем фотографии центров и тренажерных залов.</p>
        <p>По ним вы сможете определить качество залов, оборудования, раздевалок.</p>
        <p>И после этого вам будет гораздо легче принять решение в пользу того или иного спортивного заведения.</p>

        <h2>Быстрая связь с фитнес клубом</h2>
        <p>Специально для наших пользователей мы предоставляем возможность быстрой связи с понравившимся фитнес клубом. Вы можете заказать звонок от менеджера спортивной организации, задать вопрос, записаться на гостевое посещение или оставить заявку на приобретение абонемента в фитнес центр.</p>

        <h2>Удобная подача информации</h2>
        <p>Для нас важно удобство пользователей. Поэтому у нас нельзя найти мигающих баннеров и рекламных картинок на каждом шагу.</p>
        <p>А четкое структурирование информации позволит комфортно подобрать и оценить фитнес клуб.</p>

        <h2>Информация о вариантах абонементов и цены на фитнес услуги</h2>
        <p>Нас всегда интересует стоимость на фитнес услуги, и на какой срок можно приобрести карту посещения.</p>
        <p>Мы ежедневно прикладываем усилия, чтобы вы имели возможность видеть актуальные данные по расценкам и длительности абонементов.</p>
        <p>Если у какого-то клуба вы не увидите расценок, это значит, что мы именно сейчас делаем все, чтобы их предоставить нашим посетителям.</p>

        <h2>Составление программ тренировок от профессиональных фитнес инструкторов</h2>
        <p>Совсем скоро мы дадим возможность любому пользователю заказать программу у профессиональных фитнес инструкторов ведущих клубов.</p>
        <p>Это позволит вам быстрее достичь результата без лишнего риска.</p>
        <p>Мы планируем запустить данный сервис уже в конце июня.</p>
    </section>
{% endblock %}